# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.so
*.egg-info/
*.egg

# Virtualenv
venv/
.env
*.env

# Django
*.log
*.pot
*.py[cod]
db.sqlite3
media/
staticfiles/

# Docker
*.tar
*.log
docker-compose.override.yml

# VSCode
.vscode/

# MacOS
.DS_Store
